*{
    margin: 0%;
    padding: 0%;
}
.barra{
  background-color: rgba(51, 50, 50, 0.582);
}
body{min-width: 1000px;
    background-image: url(../img/wallpapper.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}
.barra2{
    background-color: rgba(0, 0, 0, 0.753);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px;
    border-style: solid;
    border-color: ghostwhite;
}
.text{
    display: flex;
    text-align: center;
    color: ghostwhite;
}
.txt{
    align-self: center;
}
a{
    text-align: center;
}
.baner{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.589);
    
}
.slide{
    margin-top: 50px;
    margin-bottom: 50px;
    
    
}
.alinhador{
    text-align: right;
}
.preco{
    background-color: rgba(0, 0, 0, 0.589);
}
.slide-background{
    background-color: rgba(0, 0, 0, 0.363);
    
}
.titulosProdutos{
    color: white;
    background-color: rgba(0, 0, 0, 0.238);
    text-align: center;
}
.linha{
    color: white;
    text-align: center;
}
.fundoP{
    background-color: rgba(0, 0, 0, 0.712);
    display: flex;
}
.produtosN{
    color: white;
    text-align: center;
    font-size:x-large;
}
.produtosImg{
max-width: 250px;
max-height: 250px;
margin-left: 60px;
margin-right: 60px;
}
.botao{
    size: 300px 80px;
    background-color:rgba(53, 53, 53, 0.692);
    font-size: x-large;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    cursor: pointer;
}